@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;1,500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

.bfix {
    border: 1px solid red;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/* Bar Gobierno de colombia */
.gov-bar {
    padding: .3rem;
}

.gov-logo {
    width: 7rem;
}
/* Bar Gobierno de colombia */

/* Navbar custom styles */
.dropdown-item:hover {
    background-color: #134074;
    color: #ffffff;
}

.dropdown-header{
    font-size: 1rem;
}
/* Navbar custom styles */

.bg-blue{
    background-color: #007bff;
}

.bg-blue2 {
    background-color: #e3f2fd;
}


.bg-gray{
    background-color: #fafafa;
}

.bg-gray2{
    background-color: #EFEFEF;
}

.bg-gray-custom2{
    background-color: #EBEDF1;
}
